{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block titme %}{% endblock titme %}</title>
</head>
<body>
    <div id="header">
        <span class="logo">Account</span>
        {% if request.user.is_authenticated %} {% comment %} 유저가 로그인 되어 있는지 확인 {% endcomment %}
            <ul class="menu">
                <li {% if section == 'dashboard' %} class='selected' {% endif %}>
                    <a href="{% url 'dashboard' %}">My dashboard</a>
                </li>
                <li {% if section == 'images' %} class='selected' {% endif %}>
                    <a href="#">Images</a>
                </li>
                <li {% if section == 'people' %} class='selected' {% endif %}>
                    <a href="#">People</a>
                </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                {{ reuqest.user.first_name|default:request.user.username }} {% comment %} 사용자 이름 대신 사용자명을 default 값으로 설정 {% endcomment %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Log-in</a>
            {% endif %}
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>